version: "3.8"

services:
  minio:
    image: minio/minio
    container_name: oa_minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    restart: unless-stopped

  application-service:
    build: ./application-service
    container_name: oa_application
    environment:
      MINIO_ENDPOINT: "minio:9000"
      MINIO_ACCESS: "minioadmin"
      MINIO_SECRET: "minioadmin"
      MINIO_BUCKET: "frames"
      VIDEO_SOURCE: "/videos/sample.mp4"
    volumes:
      - ./storage/videos:/videos
    depends_on:
      - minio
    restart: unless-stopped

  frame-selector:
    build: ./frame-selector-service
    container_name: oa_frame_selector
    environment:
      MINIO_ENDPOINT: "minio:9000"
      MINIO_ACCESS: "minioadmin"
      MINIO_SECRET: "minioadmin"
      MINIO_BUCKET: "frames"
      SELECTED_BUCKET: "selected"
    depends_on:
      - application-service
    restart: unless-stopped

volumes:
  minio_data:
