version: "3.8"

services:
  minio:
    image: minio/minio
    container_name: oa_minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      NO_PROXY: "localhost,127.0.0.1,minio,application-service,frame-selector"
      no_proxy: "localhost,127.0.0.1,minio,application-service,frame-selector"
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    restart: unless-stopped

  application-service:
    build: ./application-service
    container_name: oa_application
    volumes:
      - ./storage/videos:/videos
      - ./models:/models
      - ./config:/config:ro
    environment:
      APP_CONFIG: /config/application.yaml
      NO_PROXY: "localhost,127.0.0.1,minio,application-service,frame-selector"
      no_proxy: "localhost,127.0.0.1,minio,application-service,frame-selector"
    ports:
      - "8000:8000"
    depends_on:
      - minio

  frame-selector:
    build: ./frame-selector-service
    container_name: oa_frame_selector
    volumes:
      - ./config:/config:ro
    environment:
      APP_CONFIG: /config/application.yaml
      NO_PROXY: "localhost,127.0.0.1,minio,application-service,frame-selector"
      no_proxy: "localhost,127.0.0.1,minio,application-service,frame-selector"
    depends_on:
      - application-service

volumes:
  minio_data:
