version: "3.8"

services:
  minio:
    image: minio/minio
    container_name: oa_minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      NO_PROXY: "localhost,127.0.0.1,application-service,minio"
      no_proxy: "localhost,127.0.0.1,application-service,minio"
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    restart: unless-stopped

  application-service:
    build: ./application-service
    container_name: oa_application
    environment:
      MINIO_ENDPOINT: "minio:9000"
      MINIO_ACCESS: "minioadmin"
      MINIO_SECRET: "minioadmin"
      MINIO_BUCKET: "frames"
      VIDEO_SOURCE: "/videos/sample.mp4"
      NO_PROXY: "localhost,127.0.0.1,application-service,minio"
      no_proxy: "localhost,127.0.0.1,application-service,minio"

    volumes:
      - ./storage/videos:/videos
      - ./models:/models
    ports:
      - "8000:8000"
    depends_on:
      - minio
    restart: "no"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/docs"]
      interval: 5s
      timeout: 2s
      retries: 12

  frame-selector:
    build: ./frame-selector-service
    container_name: oa_frame_selector
    environment:
      MINIO_ENDPOINT: "minio:9000"
      MINIO_ACCESS: "minioadmin"
      MINIO_SECRET: "minioadmin"
      MINIO_BUCKET: "frames"
      SELECTED_BUCKET: "selected"
      NO_PROXY: "localhost,127.0.0.1,application-service,minio"
      no_proxy: "localhost,127.0.0.1,application-service,minio"
    depends_on:
      - application-service
    restart: unless-stopped

volumes:
  minio_data:
